---
import "../styles/global.css";
import ExtraPage from '@/components/ExtraPage';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import TableView from '@/components/TableView';
---

<!-- <StarlightPage frontmatter={{ title: 'Minha página customizada' }}> -->
    <div class="p-12">
        <!-- <ExtraPage client:load /> -->
        <TableView client:load />
    </div>
<!-- </StarlightPage> -->